/* css reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main_color:rgb(0 132 253);
    --main_color_light: #b5ddff;
    --light: white;
    --dark: black;
    --purple: #9792e4;
    --focus: rgb(253 193 95);
    --bg_footer:rgb(51 51 51);
}
body {
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}

p {
    margin: 2rem 0;
    line-height: 2rem;
}

img {
    max-width: 100%;
}
/* utilities */

.container {
/*     max-width: 1170px; */
    width: 80%;
    margin: auto;
}

.row {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -1rem;
}

.p-1 {
    padding: 1rem;
}
.d-flex {
    display: flex;
}


.col-2 {
    width: calc(100% / 12 * 2);
}


.col-3 {
    width: calc(100% / 12 * 3);
}


.col-4 {
    width: calc(100% / 12 * 4);
}

.col-6 {
    width: calc(100% / 12 * 6);
}

.col-8 {
    width: calc(100% / 12 * 8);
}

.col-10 {
    width: calc(100% / 12 * 10);
}

.col-12 {
    width: 100%;
}

.btn_light_sm {
    background-color: var(--light);
    border-radius: 2rem;
    color: var(--dark);
    padding: 0.5rem 1rem;
    margin-left: 0.5rem;
}

.card {
    padding: 2rem;
    border-radius: 1rem;
}

.main_color {
    color: var(--main_color);
}

.tx_center {
    text-align: center;
}

.wrap {
    flex-wrap: wrap;
}

.light {
    color: var(--light);
}

.dark {
    color: var(--dark);
}

.purple {
    color: var(--purple);
}

.m-tb-3 {
    margin: 3rem 0;

}

.size-2 {
    font-size: 2rem;
    line-height: 3rem;
    margin-top: 2rem;
}

.focus {
    color: var(--focus);
    font-size: 3.5rem;
    margin: 3rem 0;
}

.p-tl-2 {
    padding-top: 2rem;
    padding-left: 2rem;
}

.thin {
    font-weight: 100;
}

/* header section */

.site_header nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 0;
}

.site_header {
    background-color: var(--main_color);
}

.site_header a {
    color: var(--light);
    padding: 0.5rem;
}

/* end header section */

/* main section */

.features, .testimonials, .about_us {
    margin-top: 3rem;
    margin-bottom: 5rem;
}

.features .card {
    background-color: var(--main_color_light);
}

.features .tx_center i {
    color: var(--main_color);
    margin-bottom: 2rem;
}

.store {
    background-color: var(--main_color);
    color: var(--light);
    padding: 0.5rem 3rem;
    border-radius: 1.5rem;
}

.demo .card {
    padding-bottom: 0;
}

.phone img {
    max-width: 100%;
    margin-top: 2rem;
}

.phone {
    display: flex;
    align-items: end;
}


.clean_code .card, .demo .card {
    margin: auto;
    height: 100%;
}

.planning, .benefits, .get_started{
    background-color: var(--purple);
    padding: 3rem 0;
}

.planning .col-12.light h3 {
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.second-planning {
    background-color: var(--light);
    border-radius: 4rem;
    padding: 2rem 0;
}

.second-planning i {
    color: var(--dark);
}


.circle {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    font-size: 1.2rem;
    background-color: var(--purple);
    margin-bottom: 2rem;
}

.testimonial {
    background-color: var(--purple);
    border-radius: 2rem;
    margin: 1rem 0;
}

.testimonial img, .about_us img {
    max-width: 10rem;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
}

.benefits .card {
    background-color: var(--light);
}

.more {    
    padding: 0.5rem 3rem;
    border-radius: 1.5rem;
    background-color: var(--purple);
}

.count { 
    font-size: 4rem;
    margin: 1rem 0;
}

.quote {
    position: relative;
}

.quote img {
    position: relative;
}

.quote i {
    position: absolute;
    top: 0;
    left: 7.5rem;
}

.social {
    background-color: var(--purple);
    padding: 1rem 2rem;
    border-radius: 2rem;
}

.btn_lg {

    background-color: var(--light);
    font-size: 1rem;
    font-weight: bold;
    padding: 1rem 4rem;
    border-radius: 3rem;
}

/* end main section */


/* footer section */

.info {
    background-color: var(--bg_footer);
    padding-top: 3rem;
    padding-bottom: 1rem;
}

.info p {
    margin-top: 0;
}



/* end footer section */



/* responsive */


/* mobile */

@media screen and (max-width:520px) {
    .d-sm-none {
		display: none;
	}

    .testimonial-sm {
        text-align:  center;
    }
    .container_mobile {
        width: calc(100% - 2rem);
        margin: auto;
    }

    body {
        min-width: 370px;
    }

}


/* tablet */


@media screen and (min-width:521px) and (max-width:1200px) {

	.d-md-none {
		display: none;
	}

	.d-md-block {
		display: block;
	}
    .col-md-2 {
		width: calc(100% / 12 * 2);
	}

    .col-md-3 {
		width: calc(100% / 12 * 3);
	}

	.col-md-4 {
		width: calc(100% / 12 * 4);
	}

    .col-md-5 {
		width: calc(100% / 12 * 5);
	}

	.col-md-6 {
		width: calc(100% / 12 * 6);
	}

    .col-md-7 {
		width: calc(100% / 12 * 7);
	}

	.col-md-8 {
		width: calc(100% / 12 * 8);
	}

    .col-md-9 {
		width: calc(100% / 12 * 9);
	}

    .col-md-10 {
		width: calc(100% / 12 * 10);
	}

	.col-md-12{
		width: 100%;
	}

    .testimonial-md {
        display: flex;
    }
    .container_tablet {
        width: calc(100% - 2rem);
        margin: auto;
    }

    .container-small-md {
        width: 50%;
        margin: auto;
    }

    body {
        min-width: 850px;
    }
}


@media screen and (min-width: 1201px)
{
	header nav > .mobile_menu
	{
		display: none;
	}

	header nav > .desktop_menu
	{
		display: block;
	}
    .col-lg-2 {
		width: calc(100% / 12 * 2);
	}


    .col-lg-3 {
		width: calc(100% / 12 * 3);
	}

    .col-lg-4 {
		width: calc(100% / 12 * 4);
	}

    .col-lg-5 {
		width: calc(100% / 12 * 5);
	}

	.col-lg-6 {
		width: calc(100% / 12 * 6);
	}

    .col-lg-7 {
		width: calc(100% / 12 * 7);
	}

	.col-lg-8 {
		width: calc(100% / 12 * 8);
	}

    .col-lg-9 {
		width: calc(100% / 12 * 9);
	}

    .col-lg-10 {
		width: calc(100% / 12 * 10);
	}

	.col-lg-12{
		width: 100%;
	}

    .container-lg {
    max-width: 1440px;
    width: 60%;
    margin: auto;

    }
    .planning-lg {
        width: 60%;
        margin: auto;
    }

    .second-planning-lg img {
        max-width: 50%;
    }

    .second-planning-lg {
        display: flex;
        align-items: end;
        margin-bottom: 2rem;
        padding: 2rem 6rem;
    }

    .testimonial-lg {
        display: flex;
    }

    .container-small-lg {
        width: 30%;
        margin: auto;
    }

    body {
        min-width: 1440px;
    }

}


/* effects */

.btn_select, .scale, .start {
    transition: all 0.2s;
}

.desktop_menu a {
    transition: all 0.3s;
}

.scale:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px gray;
}

.btn_select:hover{
    background-color: rgb(21 0 253);
    box-shadow: 0 0 10px black;
    color: white;
}

.desktop_menu a:hover {
    border-bottom: 4px solid rgb(21 0 253);
    height: 50%;
    padding-bottom: 1.6rem
}

.start:hover {
    background-color: var(--focus);
    color: white;
    box-shadow: 0 0 15px var(--focus);
}

